.custom-list-group {
  /* Add custom styles for the ListGroup */
  margin-bottom: 5px;
}

.custom-list-group-item {
  /* Add custom styles for the ListGroup.Item */
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #f5f5f5;  
}

.custom-list-group-item img {
  /* Styles for the profile photo */
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.chat-name {
  /* Styles for the chat name */
  font-size: 0.75rem;
  text-align: left;
}