.listGroupItem .friendInfo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.listGroupItem .friendInfo h5 {
  margin: 0;
  text-align: left;
  flex-wrap: wrap;
  font-size: 1rem;
}

.listGroupItem .friendInfo span {
  font-size: 0.8rem;
  flex-wrap: wrap;
  text-align: left;
  color: #666;
}

.listGroupItem .friendButton {
  margin-left: 1rem;
}
