.friendContainer {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
}

.friendPhotoContainer {
    width: 25%;
    height: 100px; /* set the height to the desired value */
    background-color: #f0f0f0; /* change this to the color you want for the square */
    display: flex;
    justify-content: center;
    align-items: center;
}

.friendPhotoContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.friendContent {
  flex: 1;
}
