.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f8f8f8; /* Change to the color you prefer */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight box shadow */
}
