
.masthead {
    min-height: 100vh;
    position: relative;
}

.colorOverlay {
    position: relative;
    background-color: rgba(0,0,0,0);
    height: 100%;
    width: 100%;
    mix-blend-mode: normal;
}

form {
    background-color: #212529;
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.centerText {
    text-align: center;
}