body {
  background-color: #212529;;
}

.mainDiv {
  background-color: #212529;
}

.masthead {
  min-height: 100vh;
  position: relative;
}

.colorOverlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: auto;
  mix-blend-mode: normal;
}

form {
  background-color: #212529;
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  width:100%;
}

.centerText {
  text-align: center;
}

.roundImage{
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
}

.customTabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #212529;
  height: 40px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .customTabs {
    position: static;
    height: auto;
    width: 100%;
    background-color: transparent;
    padding: 0;
  }
}


.listGroupItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: none;
  background-color: #f5f5f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 5px;
}

.listGroupItem img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 0.4rem;
  border-radius: 50%;
}

.listGroupItem .userInfo {
  display: flex;
  flex-direction: column;
  margin-left:auto;
}

.listGroupItem .userInfo h5 {
  margin: 0;
  text-align: left;
  flex-wrap:wrap;
  font-size: 1.0rem;
}

.listGroupItem .userInfo span {
  font-size: 0.8rem;
  flex-wrap: wrap;
  text-align: left;
  color: #666;
}

.listGroupItem .userButton {
  margin-left: 1rem;  
}

.listGroupItem:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.listGroupItem:last-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

