.nav-brand-spacer {
  margin-left: 25px;
}

.nav .spacer {
  margin-right: 50px;
}

.druidia-header {
  background-color: #212529;
}

.nav-link {
  color: white;
  text-align: center;
}

.header-profile-img {
  /* Styles for the profile photo */
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.4rem;
  border-radius: 50%;
}